@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-bg: hsl(0, 33%, 97%);
	--clr-fire: radial-gradient(circle at 50% 20%, orange 0, orangered 100%);
	--clr-bg-1: hsl(353, 32%, 15%);
	--clr-bg-2: hsl(354, 22%, 26%);
	--clr-skin-1: hsl(31, 89%, 67%);
	--clr-skin-2: hsl(27, 87%, 58%);
	--clr-skin-3: hsl(27, 89%, 58%);
	--clr-skin-4: hsl(19, 68%, 47%);
	--clr-skin-5: hsl(19, 68%, 47%);
	--clr-skin-6: hsl(20, 71%, 35%);
	--clr-pumpkin-stalk-1: hsl(124, 22%, 41%);
	--clr-pumpkin-stalk-2: hsl(124, 22%, 41%);
	--clr-eye-1: hsl(40, 50%, 39%);
	--clr-eye-2: hsl(40, 64%, 56%);
	--clr-month-1: hsl(40, 50%, 39%);
	--clr-pumpkin-theeth-1: hsl(31, 89%, 67%);
	--clr-pumpkin-theeth-2: hsl(27, 87%, 58%);
	--clr-flicker-1: hsl(40, 64%, 56%);
	--clr-flicker-2: hsl(29, 97%, 34%);
	--clr-font: hsl(26, 92%, 58%);
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Creepster', cursive;
	background-color: var(--clr-bg);
}
/*========TYPOGRAPHY==========*/
h1 {
	text-align: center;
	padding: 50px;
	font-size: 5rem;
	color: var(--clr-font);
	letter-spacing: 2px;
	text-shadow: 12px 2px 4px #fff;
	top: 20%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	animation: textRotate 5s ease-in 1, bounceText 2s 5s ease-in-out 1;
}
h2 {
	font-family: 'Creepster', cursive;
	font-size: 3rem;
	color: var(--clr-font);
	letter-spacing: 2px;
	text-shadow: 12px 2px 4px #fff;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	top: 50%;
	margin-top: 120px;
}
/*========CONTAINER==========*/
.container {
	overflow: hidden;
	font-family: 'Nosifer', cursive;
	border: 4rem solid coral;
	width: 70%;
	height: 90%;
	padding: 1rem;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	border-image: url('../images/pumpkin.png');
	border-image-slice: 33%;
	border-image-repeat: round;
}
/*=====PUMPKIN HELLOWEEN=======*/
.pumpkin {
	height: 100%;
	z-index: 10;
	position: relative;
	width: 250px;
	height: 200px;
	background-color: #f18b36;
	border-radius: 80px;
	margin: 15rem auto;
	background-image: linear-gradient(
		to right,
		var(--clr-skin-1) 50%,
		var(--clr-skin-2) 50%
	);
	box-shadow: -20px 0 0 0 var(--clr-skin-3), -60px 0 0 0 var(--clr-skin-4),
		20px 0 0 0 var(--clr-skin-5), 60px 0 0 0 var(--clr-skin-6);
	transform: scaleY(1.5);
	padding: 40px;
	animation: bounce 3s infinite;
}
/*========PUMPKIN PEDUNCLE==========*/
.pumpkin .peduncle {
	position: absolute;
	background: #517f54;
	height: 2.8rem;
	width: 2.25rem;
	left: calc(7.999rem - 0.625rem);
	top: -2.7rem;
	transform: rotate(5deg);
	border-radius: 30% 20% 70% 5%;
	z-index: 1;
	box-shadow: inset 0 0px 10px #29412b;
}
/*=====PUMPKIN HELLOWEEN EYE=======*/
.pumpkin__eye {
	width: 70px;
	height: 40px;
	background: var(--clr-fire);
	position: absolute;
	top: 50px;
	right: 60%;
	border-radius: 100% 0 0 50%;
	box-shadow: inset 3px 5px 0 rgba(0, 0, 0, 0.2);
	transform: rotate(-5deg);
}
.pumpkin__eye:after {
	content: '';
	width: 70px;
	height: 40px;
	background: var(--clr-fire);
	position: absolute;
	top: 9px;
	left: 70%;
	border-radius: 100% 0 0 50%;
	box-shadow: inset 3px 5px 0 rgba(0, 0, 0, 0.2);
	transform: translateX(70px) scaleX(-1) rotate(-15deg) translateY(2px);
}
/*=====PUMPKIN HELLOWEEN MONTH=======*/
.pumpkin__month {
	position: absolute;
	width: 200px;
	height: 50px;
	background: var(--clr-fire);
	top: 65%;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 0 0 30px 30px;
	box-shadow: inset 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.pumpkin__month:before {
	content: '';
	position: absolute;
	top: 0;
	left: 24%;
	width: 2px;
	height: 2px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 16px solid var(--clr-pumpkin-theeth-1);
}
.pumpkin__month:after {
	content: '';
	position: absolute;
	top: 0;
	right: 24%;
	width: 2px;
	height: 2px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 16px solid var(--clr-pumpkin-theeth-2);
}
/*--------------ANIMATION------------*/
.pumpkin__month {
	animation: laugh 0.6s infinite, flicker 3s infinite;
}

.pumpkin__eye,
.pumpkin__eye:after {
	animation: flicker 3s infinite;
}
@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10%);
	}
}

@keyframes laugh {
	50% {
		height: 1.25rem;
	}
}
@keyframes flicker {
	0% {
		background: var(--clr-flicker-1);
	}
	20% {
		background: var(--clr-flicker-2);
	}
	30% {
		background: var(--clr-flicker-1);
	}
	50% {
		background: var(--clr-flicker-2);
	}
	60% {
		background: var(--clr-flicker-1);
	}
	95% {
		background: var(--clr-flicker-2);
	}
}

@keyframes textRotate {
	0% {
		font-size: 0px;
		transform: rotate(0deg);
	}
	100% {
		font-size: 70px;
		transform: rotate(360deg);
	}
}

@keyframes bounceText {
	0% {
		font-size: 70px;
	}
	30% {
		font-size: 100px;
	}
	100% {
		font-size: 70px;
	}
}
